<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.MainActivites">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.firebase.MESSAGING_EVENT" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.MainActivites.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.MainActivites.Register"
            android:parentActivityName="com.example.MainActivites.Login">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.MainActivites.MainActivity" />
        </activity>

        <activity android:name="com.example.MainActivites.UserList"
            android:parentActivityName="com.example.MainActivites.Login">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.MainActivites.MainActivity" />
        </activity>

        <activity android:name="com.example.MainActivites.Chat"
            android:parentActivityName="com.example.MainActivites.UserList">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.MainActivites.MainActivity" />
        </activity>

        <activity android:name="SearchActivity.Search"
            android:parentActivityName="com.example.MainActivites.Chat">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.MainActivites.MainActivity" />
        </activity>

        <activity android:name="com.example.MainActivites.MainActivity"
            android:parentActivityName="SearchActivity.Search">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.MainActivites.MainActivity" />
        </activity>

        <activity android:name="YoutubeActivity.Youtube"
            android:parentActivityName="com.example.MainActivites.UserList">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.MainActivites.MainActivity" />
        </activity>


    </application>

</manifest>